<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.generator.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_content_md" jdbcType="VARCHAR" property="articleContentMd" />
    <result column="article_newstime" jdbcType="TIMESTAMP" property="articleNewstime" />
    <result column="article_status" jdbcType="INTEGER" property="articleStatus" />
    <result column="article_summary" jdbcType="VARCHAR" property="articleSummary" />
    <result column="article_thumbnail" jdbcType="VARCHAR" property="articleThumbnail" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_type" jdbcType="INTEGER" property="articleType" />
    <result column="article_post" jdbcType="VARCHAR" property="articlePost" />
    <result column="article_comment" jdbcType="INTEGER" property="articleComment" />
    <result column="article_updatetime" jdbcType="TIMESTAMP" property="articleUpdatetime" />
    <result column="article_url" jdbcType="VARCHAR" property="articleUrl" />
    <result column="article_views" jdbcType="BIGINT" property="articleViews" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, article_content, article_content_md, article_newstime, article_status, 
    article_summary, article_thumbnail, article_title, article_type, article_post, article_comment, 
    article_updatetime, article_url, article_views
  </sql>
  <select id="selectByExample" parameterType="com.songhaozhi.mayday.model.domain.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mayday_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mayday_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mayday_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.songhaozhi.mayday.model.domain.ArticleExample">
    delete from mayday_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.songhaozhi.mayday.model.domain.Article" useGeneratedKeys="true" keyProperty="id">
    insert into mayday_article (id, user_id, article_content, 
      article_content_md, article_newstime, article_status, 
      article_summary, article_thumbnail, article_title, 
      article_type, article_post, article_comment, 
      article_updatetime, article_url, article_views
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleContent,jdbcType=VARCHAR}, 
      #{articleContentMd,jdbcType=VARCHAR}, #{articleNewstime,jdbcType=TIMESTAMP}, #{articleStatus,jdbcType=INTEGER}, 
      #{articleSummary,jdbcType=VARCHAR}, #{articleThumbnail,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR}, 
      #{articleType,jdbcType=INTEGER}, #{articlePost,jdbcType=VARCHAR}, #{articleComment,jdbcType=INTEGER}, 
      #{articleUpdatetime,jdbcType=TIMESTAMP}, #{articleUrl,jdbcType=VARCHAR}, #{articleViews,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.songhaozhi.mayday.model.domain.Article">
    insert into mayday_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="articleContentMd != null">
        article_content_md,
      </if>
      <if test="articleNewstime != null">
        article_newstime,
      </if>
      <if test="articleStatus != null">
        article_status,
      </if>
      <if test="articleSummary != null">
        article_summary,
      </if>
      <if test="articleThumbnail != null">
        article_thumbnail,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleType != null">
        article_type,
      </if>
      <if test="articlePost != null">
        article_post,
      </if>
      <if test="articleComment != null">
        article_comment,
      </if>
      <if test="articleUpdatetime != null">
        article_updatetime,
      </if>
      <if test="articleUrl != null">
        article_url,
      </if>
      <if test="articleViews != null">
        article_views,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleContentMd != null">
        #{articleContentMd,jdbcType=VARCHAR},
      </if>
      <if test="articleNewstime != null">
        #{articleNewstime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleStatus != null">
        #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleSummary != null">
        #{articleSummary,jdbcType=VARCHAR},
      </if>
      <if test="articleThumbnail != null">
        #{articleThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articlePost != null">
        #{articlePost,jdbcType=VARCHAR},
      </if>
      <if test="articleComment != null">
        #{articleComment,jdbcType=INTEGER},
      </if>
      <if test="articleUpdatetime != null">
        #{articleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleUrl != null">
        #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="articleViews != null">
        #{articleViews,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.songhaozhi.mayday.model.domain.ArticleExample" resultType="java.lang.Long">
    select count(*) from mayday_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mayday_article
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.articleContent != null">
        article_content = #{record.articleContent,jdbcType=VARCHAR},
      </if>
      <if test="record.articleContentMd != null">
        article_content_md = #{record.articleContentMd,jdbcType=VARCHAR},
      </if>
      <if test="record.articleNewstime != null">
        article_newstime = #{record.articleNewstime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleStatus != null">
        article_status = #{record.articleStatus,jdbcType=INTEGER},
      </if>
      <if test="record.articleSummary != null">
        article_summary = #{record.articleSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.articleThumbnail != null">
        article_thumbnail = #{record.articleThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.articleTitle != null">
        article_title = #{record.articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.articleType != null">
        article_type = #{record.articleType,jdbcType=INTEGER},
      </if>
      <if test="record.articlePost != null">
        article_post = #{record.articlePost,jdbcType=VARCHAR},
      </if>
      <if test="record.articleComment != null">
        article_comment = #{record.articleComment,jdbcType=INTEGER},
      </if>
      <if test="record.articleUpdatetime != null">
        article_updatetime = #{record.articleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleUrl != null">
        article_url = #{record.articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.articleViews != null">
        article_views = #{record.articleViews,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mayday_article
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      article_content = #{record.articleContent,jdbcType=VARCHAR},
      article_content_md = #{record.articleContentMd,jdbcType=VARCHAR},
      article_newstime = #{record.articleNewstime,jdbcType=TIMESTAMP},
      article_status = #{record.articleStatus,jdbcType=INTEGER},
      article_summary = #{record.articleSummary,jdbcType=VARCHAR},
      article_thumbnail = #{record.articleThumbnail,jdbcType=VARCHAR},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_type = #{record.articleType,jdbcType=INTEGER},
      article_post = #{record.articlePost,jdbcType=VARCHAR},
      article_comment = #{record.articleComment,jdbcType=INTEGER},
      article_updatetime = #{record.articleUpdatetime,jdbcType=TIMESTAMP},
      article_url = #{record.articleUrl,jdbcType=VARCHAR},
      article_views = #{record.articleViews,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.songhaozhi.mayday.model.domain.Article">
    update mayday_article
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleContentMd != null">
        article_content_md = #{articleContentMd,jdbcType=VARCHAR},
      </if>
      <if test="articleNewstime != null">
        article_newstime = #{articleNewstime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleStatus != null">
        article_status = #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleSummary != null">
        article_summary = #{articleSummary,jdbcType=VARCHAR},
      </if>
      <if test="articleThumbnail != null">
        article_thumbnail = #{articleThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        article_type = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articlePost != null">
        article_post = #{articlePost,jdbcType=VARCHAR},
      </if>
      <if test="articleComment != null">
        article_comment = #{articleComment,jdbcType=INTEGER},
      </if>
      <if test="articleUpdatetime != null">
        article_updatetime = #{articleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleUrl != null">
        article_url = #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="articleViews != null">
        article_views = #{articleViews,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songhaozhi.mayday.model.domain.Article">
    update mayday_article
    set user_id = #{userId,jdbcType=INTEGER},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_content_md = #{articleContentMd,jdbcType=VARCHAR},
      article_newstime = #{articleNewstime,jdbcType=TIMESTAMP},
      article_status = #{articleStatus,jdbcType=INTEGER},
      article_summary = #{articleSummary,jdbcType=VARCHAR},
      article_thumbnail = #{articleThumbnail,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=INTEGER},
      article_post = #{articlePost,jdbcType=VARCHAR},
      article_comment = #{articleComment,jdbcType=INTEGER},
      article_updatetime = #{articleUpdatetime,jdbcType=TIMESTAMP},
      article_url = #{articleUrl,jdbcType=VARCHAR},
      article_views = #{articleViews,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>