<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <div th:replace="admin/module/header.html" ></div>
  <body class="app sidebar-mini rtl">
   <div th:replace="admin/module/sidebar.html" ></div>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> 附件管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">附件管理</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">最新文章</h3>
            <table class="table">
            <tr>
            <td>23213</td>
            </tr>
            </table>
            </div>
        </div>
      </div>
    </main>
    <div th:replace="admin/module/publi_js.html" ></div>
  </body>
</html>