<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/module/header.html"></div>
<body class="app sidebar-mini rtl">
<div th:replace="admin/module/sidebar.html"></div>
	<main class="app-content"> <!-- Navs-->
	<div class="tile mb-4">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h2 class="mb-3 line-head" id="navs">个人资料</h2>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 2rem;">
			<div class="col-lg-12">
				<div class="bs-component">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active"
							data-toggle="tab" href="#data">基本资料</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab"
							href="#password">密码修改</a></li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade active show col-lg-6" id="data">
							<form class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-2">用户名： <span
										data-toggle="tooltip" data-placement="top" title="用于登录"
										style="cursor: pointer"> <i
											class="fa fa-question-circle" aria-hidden="true"></i>
									</span>
									</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">显示名称： <span
										data-toggle="tooltip" data-placement="top" title="页面显示的名称"
										style="cursor: pointer"> <i
											class="fa fa-question-circle" aria-hidden="true"></i>
									</span>
									</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">网站标题： <span
										data-toggle="tooltip" data-placement="top" title="网站标题"
										style="cursor: pointer"> <i
											class="fa fa-question-circle" aria-hidden="true"></i>
									</span>
									</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">邮箱：</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">头像：</label>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text" class="form-control" id="" name=""
												value=""> <span class="input-group-btn">
												<button class="btn btn-default " type="button" onclick="">选择</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">个人说明：</label>
									<div class="col-md-8">
										<div class="input-group">
											<textarea class="form-control" rows="3" id="" name=""
												style="resize: none"></textarea>
										</div>
									</div>
								</div>
								<div class="tile-footer">
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button class="btn btn-primary" type="button">
												<i class="fa fa-fw fa-lg fa-check-circle"></i>保存
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="tab-pane fade col-lg-6" id="password">
							<form class="form-horizontal" action="">
								<div class="form-group row">
									<label class="control-label col-md-2">原密码</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">新密码：</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2">确认新密码：</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="">
									</div>
								</div>
								<div class="tile-footer">
									<div class="row">
										<div class="col-md-8 col-md-offset-3">
											<button class="btn btn-primary" type="button">
												<i class="fa fa-fw fa-lg fa-check-circle"></i>保存
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</main>
	<div th:replace="admin/module/publi_js.html" ></div>
</body>
</html>