<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <div th:replace="admin/module/header.html" ></div>
  <body class="app sidebar-mini rtl">
   <div th:replace="admin/module/sidebar.html" ></div>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> 仪表盘</h1>
          <p>欢迎使用mayday博客</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">仪表盘</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-book fa-3x"></i>
            <div class="info">
              <h4>文章</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-comments fa-3x"></i>
            <div class="info">
              <h4>评论</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-file-image-o fa-3x"></i>
            <div class="info">
              <h4>媒体库</h4>
              <p><b>10</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>成立天数</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Monthly Sales</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Support Requests</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="tile">
            <h3 class="tile-title">最新文章</h3>
            <table class="table">
            <tr>
            <td>23213</td>
            </tr>
            </table>
            </div>
        </div>
       <div class="col-lg-6 col-md-12">
          <div class="tile">
            <h3 class="tile-title">最新评论</h3>
            <table class="table">
            <tr>
            <td>23213</td>
            </tr>
            </table>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="tile">
            <h3 class="tile-title">最新日志</h3>
            <table class="table">
            <tr>
            <td>23213</td>
            </tr>
            </table>
            </div>
        </div>
      </div>
    </main>
   <div th:replace="admin/module/publi_js.html" ></div>
  </body>
</html>