<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
 <div th:replace="admin/module/header.html" ></div>
  <body class="app sidebar-mini rtl">
   <div th:replace="admin/module/sidebar.html" ></div>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-book"></i>文章管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="/admin/article">文章管理</a></li>
          <li class="breadcrumb-item">所有文章</li>
        </ul>
      </div>
      <div class="row">
         <div class="col-md-12">
          <div class="tile">
            <div class="table-responsive">
              
            </div>
          </div> 
        </div>
      </div>
    </main>
   <div th:replace="admin/module/macros :: comm" ></div>
	
  </body>
</html>