<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
 <div th:replace="admin/module/header.html" ></div>
  <body class="app sidebar-mini rtl">
   <div th:replace="admin/module/sidebar.html" ></div>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-book"></i>新建文章</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="/admin/article">文章管理</a></li>
          <li class="breadcrumb-item">新建文章</li>
        </ul>
      </div>
      <div class="row">
         <div class="col-md-12">
          <div class="tile">
            <div class="table-responsive">
              <textarea id="aa"></textarea>
            </div>
          </div> 
        </div>
      </div>
    </main>
   <div th:replace="admin/module/macros :: comm" ></div>
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
   <script type="text/javascript">
   var simplemde = new SimpleMDE({ 
	   element: document.getElementById("aa"),
	   //如果设置为true，则强制下载Font Awesome（用于图标）。如果设置为false，则阻止下载。默认为undefined，将智能检查是否已包含Font Awesome，然后相应下载。
	   autoDownloadFontAwesome:true,
	   //如果设置为true，则自动对焦编辑器。默认为false。
	   autofocus:true,
	   //自动保存
	   autosave:{
		    //如果设置为true，则自动保存文本。默认为false。
			enabled:true,
			//保存之间的延迟，以毫秒为单位。默认为10000（10s）。
			delay:5000,
			//您必须设置唯一的字符串标识符，以便SimpleMDE可以自动保存。将此与您网站上其他地方的SimpleMDE实例区分开来的东西。
			uniqueId:1
	   },
	   //调整预览期间解析Markdown的设置
	   renderingConfig:{
		   ///如果设置为true，将使用highlight.js突出显示
		   codeSyntaxHighlighting:true
	   },
	   //要显示的图标名称数组。可用于显示默认隐藏的特定图标，而无需完全自定义工具栏。
	   showIcons: ["code", "table"],
	   //如果设置，则自定义选项卡大小。默认为2。
	   tabSize:4,
   });
   
   $(function(){
	   var PC = IsPC();
	    if (PC) {
	    	var style = document.createElement("style");
	    	style.type = "text/css";
	    	try{
	    	　　style.appendChild(document.createTextNode(".CodeMirror{height: 500px;z-index: 9999;}.editor-toolbar{z-index: 9999  !important;}"));
	    	}catch(ex){
	    	　　style.styleSheet.cssText = ".CodeMirror{height: 500px;z-index: 9999;}.editor-toolbar{z-index: 9999  !important;}";
	    	}
	    	var head = document.getElementsByTagName("head")[0];
	    	head.appendChild(style);
	    }
	    function IsPC() {
	        var userAgentInfo = navigator.userAgent;
	        var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
	        var flag = true;
	        for (var v = 0; v < Agents.length; v++) {
	            if (userAgentInfo.indexOf(Agents[v]) > 0) {
	                flag = false;
	                break;
	            }
	        }
	        return flag;
	    } 
   });
   </script>
  </body>
</html>