server: 
  port: 8091 
logging:
    level: 
        org.springframework: info
        data: DEBUG
        security: DEBUG
    config: classpath:logback-spring.xml
spring: 
  mvc:
    static-path-pattern: /**
  thymeleaf: 
    servlet:
      content-type: text/html
    mode: HTML
    encoding: UTF-8
    cache: false
  datasource: 
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:mysql://localhost:3306/mayday
        username: root
        password: 123456
        driver-class-name: com.mysql.jdbc.Driver
mybatis: 
  typeAliasesPackage: com.songhaozhi.mayday.model.domain
  mapperLocations: classpath:mapper/*/*.xml
  configuration:
    map-underscore-to-camel-case: true
pagehelper: 
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql