<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/pinghsu/header::header('归档',null)"></div>
<body>
<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <th:block th:each="bigList : ${articleList}">
            <div class="categorys-title" th:text="${bigList.date}"></div>
            <div class="post-lists">
                <div class="post-lists-body">
                    <th:block th:each="article : ${bigList.articles}">
                        <div class="post-list-item">
                            <div class="post-list-item-container">
                                <div class="item-label">
                                    <div class="item-title">
                                        <a th:href="@{'/post/'+${article.articleUrl}}" th:text="${article.articleTitle}"></a>
                                    </div>
                                    <div class="item-meta clearfix">
                                        <div class="item-meta-date">发布于 <th:block th:text="${#dates.format(article.articleNewstime,'yyyy-MM-dd')}"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
 <div th:replace="themes/pinghsu/footer::footer"></div>
</html>