<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/pinghsu/header::header('首页',null)"></div>
<body>
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            <div class="post-list-item" th:each="article : ${articles.list}">
                <div class="post-list-item-container">
                    <div class="item-thumb bg-deepgrey" th:href="@{'/post/'+${article.articleUrl}}"
                    	 th:style="'background-image:url('+@{${article.articleThumbnail}}+');'"></div>
                        <!-- <dir class="item-desc" th:text="${article.tagsName}"></dir> -->
                    <a th:href="@{'/post/'+${article.articleUrl}}"> 
                       <div class="item-desc">
								<p th:text="${article.articleSummary}"></p>
						</div>
                    </a>
                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title">
                        <a href="#" th:href="@{'/post/'+${article.articleUrl}}" th:text="${article.articleTitle}"></a>
                        </div>
                        <div class="item-meta clearfix">
                         <div th:class="'item-meta-ico '+ ${commons.show_icon(article.id)}"
                             th:style="'background: url('+@{/img/bg-ico.png}+');no-repeat;background-size: 40px auto;' "></div>
                        <div class="item-meta-cat" th:utext="${commons.show_categories(article.categorysUrl,article.categorysName)}">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
<div class="lists-navigator clearfix">
      	  <div th:replace="admin/module/macros::pageNav(${articles},'←','→','page')"></div>
</div>
</body>
 <div th:replace="themes/pinghsu/footer::footer"></div> 
</html>
