<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/pinghsu/header::header(${article.articleTitle},${article.tagsName})"></div>
<body>
<article class="main-content page-page" >
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline" th:text="${article.articleTitle}"></h1>
        <div class="post-data">
            <time th:datetime="${#dates.format(article.articleNewstime,'yyyy/MM/dd HH:mm:ss')}" itemprop="datePublished" th:text="'发布于 '+ ${#dates.format(article.articleNewstime,'yyyy/MM/dd HH:mm:ss')}"></time>
        </div>
    </div>
    <div id="post-content" class="post-content" th:utext="${article.articleContent}"/></div>
<div id="vcomments"></div>
</article>
<div th:replace="admin/module/macros :: comment"></div> 
<div th:replace="themes/pinghsu/footer :: footer"></div> 
</body>
</html>