<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.Attachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="picture_name" jdbcType="VARCHAR" property="pictureName" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="picture_small_path" jdbcType="VARCHAR" property="pictureSmallPath" />
    <result column="picture_type" jdbcType="VARCHAR" property="pictureType" />
    <result column="picture_create_date" jdbcType="VARCHAR" property="pictureCreateDate" />
    <result column="picture_size" jdbcType="VARCHAR" property="pictureSize" />
    <result column="picture_suffix" jdbcType="VARCHAR" property="pictureSuffix" />
    <result column="picture_wh" jdbcType="VARCHAR" property="pictureWh" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.songhaozhi.mayday.model.domain.Attachment">
    insert into attachment (id, picture_name, picture_path, 
      picture_small_path, picture_type, picture_create_date, 
      picture_size, picture_suffix, picture_wh
      )
    values (#{id,jdbcType=INTEGER}, #{pictureName,jdbcType=VARCHAR}, #{picturePath,jdbcType=VARCHAR}, 
      #{pictureSmallPath,jdbcType=VARCHAR}, #{pictureType,jdbcType=VARCHAR}, #{pictureCreateDate,jdbcType=VARCHAR}, 
      #{pictureSize,jdbcType=VARCHAR}, #{pictureSuffix,jdbcType=VARCHAR}, #{pictureWh,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.songhaozhi.mayday.model.domain.Attachment">
    update attachment
    set picture_name = #{pictureName,jdbcType=VARCHAR},
      picture_path = #{picturePath,jdbcType=VARCHAR},
      picture_small_path = #{pictureSmallPath,jdbcType=VARCHAR},
      picture_type = #{pictureType,jdbcType=VARCHAR},
      picture_create_date = #{pictureCreateDate,jdbcType=VARCHAR},
      picture_size = #{pictureSize,jdbcType=VARCHAR},
      picture_suffix = #{pictureSuffix,jdbcType=VARCHAR},
      picture_wh = #{pictureWh,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, picture_name, picture_path, picture_small_path, picture_type, picture_create_date, 
    picture_size, picture_suffix, picture_wh
    from attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, picture_name, picture_path, picture_small_path, picture_type, picture_create_date, 
    picture_size, picture_suffix, picture_wh
    from attachment
  </select>
</mapper>