<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_enable" jdbcType="VARCHAR" property="loginEnable" />
    <result column="login_error" jdbcType="INTEGER" property="loginError" />
    <result column="login_last_time" jdbcType="TIMESTAMP" property="loginLastTime" />
    <result column="user_portrait" jdbcType="VARCHAR" property="userPortrait" />
    <result column="user_explain" jdbcType="VARCHAR" property="userExplain" />
    <result column="user_display_name" jdbcType="VARCHAR" property="userDisplayName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.songhaozhi.mayday.model.domain.User">
    insert into user (user_id, login_enable, login_error, 
      login_last_time, user_portrait, user_explain, 
      user_display_name, user_email, user_name, 
      user_pwd)
    values (#{userId,jdbcType=INTEGER}, #{loginEnable,jdbcType=VARCHAR}, #{loginError,jdbcType=INTEGER}, 
      #{loginLastTime,jdbcType=TIMESTAMP}, #{userPortrait,jdbcType=VARCHAR}, #{userExplain,jdbcType=VARCHAR}, 
      #{userDisplayName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.songhaozhi.mayday.model.domain.User">
    update user
    set login_enable = #{loginEnable,jdbcType=VARCHAR},
      login_error = #{loginError,jdbcType=INTEGER},
      login_last_time = #{loginLastTime,jdbcType=TIMESTAMP},
      user_portrait = #{userPortrait,jdbcType=VARCHAR},
      user_explain = #{userExplain,jdbcType=VARCHAR},
      user_display_name = #{userDisplayName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, login_enable, login_error, login_last_time, user_portrait, user_explain, 
    user_display_name, user_email, user_name, user_pwd
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, login_enable, login_error, login_last_time, user_portrait, user_explain, 
    user_display_name, user_email, user_name, user_pwd
    from user
  </select>
  <select id="getByNameAndPwd" parameterType="String" resultMap="BaseResultMap">
    select * from user where  user_name=#{name} and user_pwd=#{pwd}
  </select>
</mapper>